---
const {header} = Astro.props
---
<div class="pb-4 relative">
    <h2 class="text-center text-2xl text-heading font-bold">{header}</h2>
    <span class="absolute w-20 h-2 left-1/2 bottom-0 -translate-x-1/2 bg-blue-500" role="presentation" />
</div>