---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import Next from "./icons/next";
import Express from "./icons/express";
import Prisma from "./icons/prisma";
import SectionHeader from "./SectionHeader.astro";
const icons = [
    "/icons/html.svg",
    "/icons/css.svg",
    "/icons/tailwind-css.svg",
    "/icons/js.svg",
    "/icons/typescript.svg",
    "/icons/react.svg",
    "/icons/redux.svg",
    "/icons/node-js.svg",
    "/icons/bun.svg",
    "/icons/mongodb.svg",
    "/icons/postgresql.svg",
    "/icons/drizzle.svg",
    "/icons/python.svg",
    "/icons/npm.svg",
    "/icons/git.svg"
];

const getName = (path: string) => {
    const segments = path.split("/");
    return segments[segments.length - 1].split(".")[0];
}
---

<Section id="tech-stack">
    <SectionHeader header="Tech Stack"/>
    <div
        class="max-w-2xl mt-6 mx-auto flex justify-center items-center flex-wrap gap-x-2 gap-y-4 md:gap-x-4 md:gap-y-6 lg:gap-x-8 lg:gap-y-10 lg:max-w-5xl">
        {
            icons.map((icon, idx) => (
                <Image src={icon} alt=`Tech Stack Logo: ${getName(icon)}` width={100} height={100}
                       class=`size-14 md:size-18 lg:size-20 dark:fill-white ${idx < 9 ? "order-1" : "order-3"}` />
            ))
        }
        <Express />
        <Next />
        <Prisma/>
    </div>
</Section>
